.center-box{
    height: 400px;
    width: 400px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-item{
    height: 100px;
    width: 100px;
    background-color: lightgoldenrodyellow;
}
.img{
    height: 60px;
    margin: 10px;
    justify-content: left;
}
.navbar{
    width: 900px;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0px;
}
li{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}